.config/discord
.config/pulse
.config/spotify
.config/dconf
.config/nextjs-nodejs
.config/lazygit
.config/astro
.config/chromium
.config/create-next-app-nodejs
.config/go/telemetry/local
.config/kde.org
.config/session
.config/kconf_updaterc
.config/kdeglobals
.config/mimeapps.list
.config/trashrc
.config/dolphinrc
