themes {
 	base16 {
 		fg "#e0def4"
 		bg "#393552"
 		black "#232136"
 		red "#eb6f92"
 		green "#c4a7e7"
 		yellow "#3e8fb0"
 		blue "#9ccfd8"
 		magenta "#c4a7e7"
 		cyan "#f6c177"
 		white "#e0def4"
 		orange "#ea9a97"
 	}
}
