themes {
 	base16 {
 		fg "#{{base06-hex}}"
 		bg "#{{base02-hex}}"
 		black "#{{base00-hex}}"
 		red "#{{base08-hex}}"
 		green "#{{base0D-hex}}"
 		yellow "#{{base0B-hex}}"
 		blue "#{{base0C-hex}}"
 		magenta "#{{base0D-hex}}"
 		cyan "#{{base0E-hex}}"
 		white "#{{base06-hex}}"
 		orange "#{{base0A-hex}}"
 	}
}
