const BLK = "#{{base0D-hex}}";
const CHR = "#{{base0D-hex}}";
const DIR = "#{{base0D-hex}}";
const EXE = "#{{base0D-hex}}";
const REG = "#{{base06-hex}}";
const HARDLINK = "#{{base06-hex}}";
const SYMLINK = "#{{base0E-hex}}";
const MISSING = "#{{base06-hex}}";
const ORPHAN = "#{{base08-hex}}";
const FIFO = "#{{base07-hex}}";
const SOCK = "#{{base07-hex}}";
const OTHER = "#{{base0C-hex}}";
