[global]
	frame_color = "#c4a7e7"
	separator_color = "#e0def4"

[urgency_low]
    background = "#191724"
    foreground = "#e0def4"

[urgency_normal]
    background = "#191724"
    foreground = "#e0def4"

[urgency_critical]
    background = "#eb6f92"
    foreground = "#e0def4"