color={{base06-hex}}
inside-color={{base00-hex}}
line-color={{base06-hex}}
ring-color={{base06-hex}}
text-color={{base06-hex}}

layout-bg-color={{base06-hex}}
layout-text-color={{base06-hex}}

inside-clear-color={{base00-hex}}
line-clear-color={{base06-hex}}
ring-clear-color={{base06-hex}}
text-clear-color={{base06-hex}}

inside-ver-color={{base00-hex}}
line-ver-color={{base06-hex}}
ring-ver-color={{base06-hex}}
text-ver-color={{base06-hex}}

inside-wrong-color={{base00-hex}}
line-wrong-color={{base08-hex}}
ring-wrong-color={{base08-hex}}
text-wrong-color={{base08-hex}}

bs-hl-color={{base0D-hex}}
key-hl-color={{base0D-hex}}

separator-color={{base0D-hex}}
text-caps-lock-color={{base06-hex}}
