[global]
	frame_color = "#{{base06-hex}}"
	separator_color = "#{{base06-hex}}"

[urgency_low]
    background = "#{{base00-hex}}"
    foreground = "#{{base06-hex}}"

[urgency_normal]
    background = "#{{base00-hex}}"
    foreground = "#{{base06-hex}}"

[urgency_critical]
    background = "#{{base08-hex}}"
    foreground = "#{{base06-hex}}"