mode_normal = { fg = "#{{base00-hex}}", bg = "lightblue", bold = true }
mode_select = { fg = "#{{base00-hex}}", bg = "lightgreen", bold = true }
mode_unset = { fg = "#{{base00-hex}}", bg = "lightmagenta", bold = true }
